body{
    background-color:lightblue;
}
h1{
    text-align:center;
    font:size 72px;
    font-weight:bold;
}
h2{
    text-align:center;
    font:size medium;
    color:blueviolet;
    text-decoration:underline;
}
h3{
    color:brown
}